.reproductor-video{
  /* height: calc(100vh - 130px); */
  /* height: 100vh; */
}

.App{
  background: #000;
  height: 100vh;
  display: grid;
  place-content: center;
}

main {
  border: 1px solid #fff;
  aspect-ratio: 9/16;
  border-radius: 3px;
  max-width: 375px;
  width: 100vw;

}
.inicio{
  /* height: calc(100vh - 0px); */
  /* height: 1000px; */
  height: 100vh;
  overflow-y: scroll;
  /* min-height: 300px; */
  scroll-snap-type: y mandatory;
  
}
.div-reproductor-video {
  scroll-snap-align: start;
  /* height: 100%; */
}


/* .padre{
  scroll-snap-type: y mandatory;
  height: 250px;
}

.hijo{
  scroll-snap-align: center;
  height: 700px;
  
} */