.reproductor-video{
  /* height: calc(100vh - 130px); */
  /* height: 100vh; */
}

.inicio{
  height: calc(100vh - 0px);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  
}
.div-reproductor-video {
  scroll-snap-align: start;
  /* height: 100%; */
}


/* .padre{
  scroll-snap-type: y mandatory;
  height: 250px;
}

.hijo{
  scroll-snap-align: center;
  height: 700px;
  
} */