.reproductor-video{
  /* height: calc(100vh - 130px); */
  /* height: 100vh; */
  
}

html {
  min-height: -webkit-fill-available;
  background: #000;
}

.App{
  /* background: #000; */
  /* height: 100vh; */
  /* display: grid; */
  /* place-content: center; */
  /* height: -webkit-fill-available; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  /* position: fixed; */

  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */

  /* background: #000; */
  /* min-height: -webkit-fill-available; */
  height: 100%;
  
  /* background: red; */
  /* height: 100vh; */
  /* height: -webkit-fill-available; */

  /* display: grid; */
  /* place-content: center; */
  /* overflow: hidden; */
}

main {
  /* height: -webkit-fill-available; */
  /* border: 1px solid #fff; */
  /* aspect-ratio: 9/16; */
  /* border-radius: 3px; */
  /* max-width: 375px; */
  /* width: 100vw; */
  /* height: ; */
  /* position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */

  /* height: -webkit-fill-available; */
  /* height: 100%; */
  /* background-color: red; */

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* display: -webkit-box; */
  /* display: -webkit-flex; */
  /* display: -ms-flexbox; */
  /* display: flex; */
  /* -webkit-flex-direction: column; */
  /* -ms-flex-direction: column; */
  /* flex-direction: column; */

}
.inicio{
  /* height: calc(100vh - 0px); */
  /* height: 1000px; */

  /* min-height: 300px; */
  /* height: 90vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; */

  height: calc(100% - 49px);
  
  /* aspect-ratio: 9/16; */
  /* border-radius: 3px; */
  /* display: block; */
  /* height: auto; */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  
}
.div-reproductor-video {
  scroll-snap-align: start;
  /* height: 100%; */
}


/* .padre{
  scroll-snap-type: y mandatory;
  height: 250px;
}

.hijo{
  scroll-snap-align: center;
  height: 700px;
  
} */